{% extends "base.html"%}
{% block title%}　Every Day Life {% endblock %}
{% block body %}
<div>
  <a href="relative/"><button><h3>Family</h3></button></a>
  <br>
  <br>
  <br>
  <a href="shop/"><button><h3>Shop</h3></button></a>
  <br>
  <br>
  <br>
  <a href="color/"><button><h3>Color</h3></button></a>
  <br>
  <br>
  <br>
  <a href="time/"><button><h3>Time</h3></button></a>
  <br>
  <br>
  <br>
  <a href="wh/"><button><h3>Wh word</h3></button></a>
  <br>
  <br>
  <br>
  <a href="/admin/"><button><h3>Add</h3></button></a>
</div>
{% endblock %}