{% extends "base.html"%}
{% block title%}　にほんご Voc {% endblock %}
{% block body %}
<div>
  <a href="N4/"><button><h3>Vocabulary list N4</h3></button></a>
  <br>
  <br>
  <br>
  <a href="N4/kanji/"><button><h3>Kanji N4</h3></button></a>
  <br>
  <br>
  <br>
  <a href="list/"><button><h3>Vocabulary list N5</h3></button></a>
  <br>
  <br>
  <br>
  <a href="kanji/"><button><h3>Kanji N5</h3></button></a>
  <br>
  <br>
  <br>
  <a href="letter/"><button><h3>Letter</h3></button></a>
  <br>
  <br>
  <br>
  <a href="verb/"><button><h3>Verb</h3></button></a>
  <br>
  <br>
  <br>
  <a href="everydaylife/"><button><h3>Every day life</h3></button></a>
  <br>
  <br>
  <br>
  <a href="q/"><button><h3>Question</h3></button></a>
  <br>
  <br>
  <br>
  <a href="admin/"><button><h3>Add</h3></button></a>
</div>
{% endblock %}