{% extends "base.html"%}
{% block title%} English and にほんご {% endblock %}
{% block body %}
<div>
    <h1>{{ i.kanji }} : {{ i.eigo.english }} : {{ i.eigo.nihongo }}</h1>
</div>
<br>
<br>
<br>
<div>
    <a href="http://127.0.0.1:8000/english/"><button><h3>English</h3></button></a> or <a href="http://127.0.0.1:8000/nihongo/"><button><h3>にほんご</h3></button></a> or <a href="http://127.0.0.1:8000/kanji/"><button><h3>Kanji N5</h3></button></a> or <a href="http://127.0.0.1:8000/N4/kanji/"><button><h3>Kanji N4</h3></button></a>
</div>
{% endblock %}