{% extends "base.html"%}
{% block title%} English and にほんご {% endblock %}
{% block body %}
<div>
    <h1>{{ i.english }} : {{ i.nihongo }}</h1>
</div>
<br>
<br>
<div>
    <h1>Positive Answer</h1>
    <h1>{{ i.e_positive }} : {{ i.n_positive }}</h1>
</div>
<br>
<br>
<div>
    <h1>Negative Answer</h1>
    <h1>{{ i.e_negative }} : {{ i.n_negative }}</h1>
</div>
<br>
<br>
<br>
<div>
    <a href="http://127.0.0.1:8000/q/english/"><button><h3>English</h3></button></a> or <a href="http://127.0.0.1:8000/q/nihongo/"><button><h3>にほんご</h3></button></a>
</div>
{% endblock %}