{% extends "base.html"%}
{% block title%}　Verb {% endblock %}
{% block body %}
<div>
  <a href="english/"><button><h3>English</h3></button></a>
  <br>
  <br>
  <a href="basic_form/"><button><h3>Basic form</h3></button></a>
  <br>
  <br>
  <a href="present_positive/"><button><h3>Present positive</h3></button></a>
  <br>
  <br>
  <a href="present_negative/"><button><h3>Present negative</h3></button></a>
  <br>
  <br>
  <a href="past_positive/"><button><h3>Past positive</h3></button></a>
  <br>
  <br>
  <a href="past_negative/"><button><h3>Past negative</h3></button></a>
  <br>
  <br>
  <a target="_blank" href="note/"><button><h3>ノート</h3></button></a>
  <br>
  <br>
  <a href="te_from/"><button><h3>Te from</h3></button></a>
  <br>
  <br>
  <a href="present_continuous/"><button><h3>Present continuous</h3></button></a>
  <br>
  <br>
  <a href="past_continuous/"><button><h3>Past continuous</h3></button></a>
  <br>
  <br>
  <br>
  <a href="/admin/"><button><h3>Add</h3></button></a>
</div>
{% endblock %}