{% extends "base.html"%}
{% block title%} Verb form {% endblock %}
{% block body %}
<div style="text-align: justify; text-align-last: center;">
<h1>Conversion of て form</h1>
    <br>
    <br>
    <h1>一. End by う replace with って</h1>
    <h1>二. End by む　ぬ　ぶ replace with んで</h1>
    <h1>三. End by く replace with いて</h1>
    <h1>四. End by ぐ replace with いで</h1>
    <h1>五. End by す replace with して</h1>
    <h1>六. only for いく replace with いって</h1>
    <h1>七. End by る replace with て</h1>
    <h1>八. only for する replace with して</h1>
    <h1>九. only for くる replace with きて</h1>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/verb/"><button><h3>Form choice</h3></button></a>
</div>
{% endblock %}